<%-include('../cabecalho.ejs')%>
 <header>
        <h3>Editar Personagem</h3>
      </header>
      <div class="content">
        <form id="form-personagem" method="post" autocomplete="off" >
          <div class="grid">
            <div>
              <label for="nome">Nome do Personagem</label>
              <input id="nome" value="<%=personagem.nome%>" name="nome" type="text" placeholder="Ex:Eren yeager" required>
            </div>
            <div>
              <label for="nome">Tipo do Personagem</label>
              <input id="tipo" value="<%=personagem.tipo%>" name="tipo" type="text" placeholder="Ex:Heroi,vilão" required>
            </div>
            <div>
              <label for="nome">Primeira Aparição</label>
              <input id="primeiraaparicao" value="<%=personagem.primeiraaparicao%>" name="primeiraaparicao" type="number" placeholder="Por Temporada" required>
            </div>
             <div>
              <label for="nome">Força</label>
              <input id="forca" value="<%=personagem.forca%>" name="forca" type="number" placeholder="100%" required>
            </div>
           <div class="field-help">Os campos com * são obrigatórios.</div>
          <footer>
            <a type="button" class="btn ghost" id="btn-cancelar" href="/personagem/lst">Cancelar</a>
            <button type="submit" class="btn primary">Editar Personagem</button>
          </footer>
        </form>
      </div>

  <%-include('../rodape.ejs')%>